@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");
:root {
  --font:'Manrope', sans-serif;
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  --white:hsl(0,0%,100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

body {
  line-height: 1.5;
  font-family: var(--font);
  background-color: var(--LightGrayishBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[1];
      grid-template-columns: repeat(1, 300px);
  padding: 2em;
}

.container .card {
  position: relative;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  background-color: var(--white);
}

.container .card .img--section {
  margin-bottom: 1em;
}

.container .card .img--section img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container article {
  width: 100%;
}

.container article p {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--DesaturatedDarkBlue);
  margin-bottom: 0.5em;
}

.container article h1 {
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  color: var(--VeryDarkGrayishBlue);
  text-transform: capitalize;
  font-weight: 800;
}

.info {
  padding: 1em;
}

.footer--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0 0 0;
}

.footer--section img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer--section .col-1 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.footer--section .col-1 .profile--section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  grid-auto-flow: row;
}

.footer--section .col-1 article h2 {
  text-transform: capitalize;
  font-size: 0.9rem;
  color: var(--VeryDarkGrayishBlue);
}

.footer--section .col-1 article p {
  color: var(--DesaturatedDarkBlue);
  font-weight: 500;
}

.footer--section .col-2 button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer--section .col-2 button svg {
  pointer-events: none;
}

.overlay {
  background-color: var(--VeryDarkGrayishBlue);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
  grid-auto-flow: row;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.overlay .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .col-3 h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--DesaturatedDarkBlue);
  opacity: 0;
}

.overlay .col-3 a {
  opacity: 0;
  cursor: pointer;
}

.overlay .col-3 a:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay .col-3 a:nth-of-type(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.overlay .col-3 a:nth-of-type(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.overlay .col-3 a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.overlay .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .col-4 button {
  opacity: 0;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  background-color: var(--DesaturatedDarkBlue);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.overlay .col-4 button svg {
  pointer-events: none;
}

.overlay .col-4 button svg path {
  fill: #fff;
}

footer {
  font-size: 0.8rem;
  color: var(--DesaturatedDarkBlue);
}

footer a {
  text-transform: capitalize;
  text-decoration: none;
  color: #212121;
}

.hide {
  display: none;
}

.ani {
  -webkit-animation: show 0.4s ease-in forwards;
          animation: show 0.4s ease-in forwards;
}

.ani-2 {
  -webkit-animation: show-2 0.4s ease-in forwards 0.4s;
          animation: show-2 0.4s ease-in forwards 0.4s;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes show {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-2 {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes show-2 {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

@media screen and (min-width: 769px) {
  body {
    height: 100vh;
  }
  .container {
    -ms-grid-columns: 700px;
        grid-template-columns: 700px;
  }
  .container .card {
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
  }
  .container .card .img--section {
    margin-bottom: 0;
  }
  .container .card .img--section img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
  .container .card .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .card .info .footer--section {
    margin-top: 0;
    width: 100%;
    place-self: end;
  }
  .overlay {
    left: auto;
    width: 250px;
    right: -90px;
    bottom: 70px;
    height: 40px;
    border-radius: 5px;
    z-index: 11000;
    -webkit-transform-origin: center 60px;
            transform-origin: center 60px;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
  }
  .overlay .col-3 h2 {
    font-size: 0.8rem;
  }
  .overlay .col-4 button {
    width: 25px;
    height: 25px;
  }
  .overlay::after {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    left: 60%;
    top: 100%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-left: -30px;
    background-color: var(--VeryDarkGrayishBlue);
    z-index: -1;
    margin-top: -25px;
  }
  .ani {
    -webkit-animation: ani 0.4s ease-in forwards;
            animation: ani 0.4s ease-in forwards;
  }
  @-webkit-keyframes ani {
    0% {
      opacity: 0.1;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes ani {
    0% {
      opacity: 0.1;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}
/*# sourceMappingURL=style.css.map */